numpy
scipy
pandas
jupyterlab
seaborn
matplotlib
scikit-learn
jupyterlab
jupyterlab-git
voila
rise
nbdime
nodejs
notebook
ptvsd
xeus-python==0.9.0
yfinance
schedule
panel
hvplot
get-all-tickers
pyDiffMap
arch
pandas_ta
xgboost